**/node_modules/
/vendor/
.env
.env.backup
.env.*.backup
/public/storage
/storage
.DS_Store
*.pem
.vscode
.idea
*.log
phpunit.xml
.env
.env.backup
/vendor/
/node_modules/
npm-debug.log
yarn-error.log
.DS_Store
